<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167073981211-9svifj3a8llbjm2khoctdmkglh2uk5ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167073981211-9svifj3a8llbjm2khoctdmkglh2uk5ci</string>
	<key>API_KEY</key>
	<string>AIzaSyBeXmB8pOqS_wqz4f7NMX5uGnQqcsQQ0Xg</string>
	<key>GCM_SENDER_ID</key>
	<string>167073981211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lydia.Firebase-Chat</string>
	<key>PROJECT_ID</key>
	<string>messageboard-4c42e</string>
	<key>STORAGE_BUCKET</key>
	<string>messageboard-4c42e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167073981211:ios:17b96d86068951552529be</string>
	<key>DATABASE_URL</key>
	<string>https://messageboard-4c42e.firebaseio.com</string>
</dict>
</plist>