<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304218184540-vmef47vurd9nc3o0jaj4gug2ubcgmiba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304218184540-vmef47vurd9nc3o0jaj4gug2ubcgmiba</string>
	<key>API_KEY</key>
	<string>AIzaSyBZNrl6CcSOp1Bpdpv_c34fA2RhCkHKfw4</string>
	<key>GCM_SENDER_ID</key>
	<string>304218184540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonbash.FirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-5fec1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-5fec1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304218184540:ios:beb3196605e8bd861a3f99</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chat-5fec1.firebaseio.com</string>
</dict>
</plist>