<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409949895508-d7tmipjl6dhh9vf15jq5252ngbs2r5ki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409949895508-d7tmipjl6dhh9vf15jq5252ngbs2r5ki</string>
	<key>API_KEY</key>
	<string>AIzaSyDUXLlDGkwAmYaVjik0Ric3DVTtkl9nuyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>409949895508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BobbyKeffury.FirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-9fa8f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-9fa8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409949895508:ios:561de14986e330970fa6c1</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chat-9fa8f.firebaseio.com</string>
</dict>
</plist>