<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>860546589873-gkpm5usts2tjief8p4cuiqr593f1jutt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860546589873-gkpm5usts2tjief8p4cuiqr593f1jutt</string>
	<key>API_KEY</key>
	<string>AIzaSyAnTXV0ma68BhgWRhPCf-Tq40McaibpzSU</string>
	<key>GCM_SENDER_ID</key>
	<string>860546589873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nelsongonzalez.Firebase-Chat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-app-148e2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-app-148e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860546589873:ios:37dfd9a2af646e12</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chat-app-148e2.firebaseio.com</string>
</dict>
</plist>