<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734065771283-ttr1gn6mr0p3l6cu82a017snkriccc2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734065771283-ttr1gn6mr0p3l6cu82a017snkriccc2f</string>
	<key>API_KEY</key>
	<string>AIzaSyBZrQbEAchLDvK6fOZuRtFXyJRrwERSazY</string>
	<key>GCM_SENDER_ID</key>
	<string>734065771283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonathanferrer.FirebaseMessages</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-b85d5</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-b85d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734065771283:ios:5f20c07d967e0c0e</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chat-b85d5.firebaseio.com</string>
</dict>
</plist>