<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>143152871713-luofssd6l9s1253d2h478sl4qk97qndo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143152871713-luofssd6l9s1253d2h478sl4qk97qndo</string>
	<key>API_KEY</key>
	<string>AIzaSyDM92PJy5YY_JTizHjGaApwMglW2eIdM3c</string>
	<key>GCM_SENDER_ID</key>
	<string>143152871713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stefano.ios-firebase-chat</string>
	<key>PROJECT_ID</key>
	<string>ios-firebase-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-firebase-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143152871713:ios:3d10bd5ac100d820</string>
	<key>DATABASE_URL</key>
	<string>https://ios-firebase-chat.firebaseio.com</string>
</dict>
</plist>