<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652767322911-n818sncf9hv6j6svufgjdg6gosmjn8rl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652767322911-n818sncf9hv6j6svufgjdg6gosmjn8rl</string>
	<key>API_KEY</key>
	<string>AIzaSyB-6WEBKXQH_IR_NufAupIVsqKGofnT-vE</string>
	<key>GCM_SENDER_ID</key>
	<string>652767322911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hvillasa.ios-firebase-chat</string>
	<key>PROJECT_ID</key>
	<string>ios-firebase-chat-90064</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-firebase-chat-90064.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652767322911:ios:695876b5047c12ab</string>
	<key>DATABASE_URL</key>
	<string>https://ios-firebase-chat-90064.firebaseio.com</string>
</dict>
</plist>