<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975803840822-lr5j30bn7r3rb36o5cas9e3cqblacs51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975803840822-lr5j30bn7r3rb36o5cas9e3cqblacs51</string>
	<key>API_KEY</key>
	<string>AIzaSyCEffjZqjZGphhLYf0aPpDZwkLEobANrdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>975803840822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexthompson.Firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-project-2cb3b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-2cb3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975803840822:ios:a499d2d74be9583d87db97</string>
	<key>DATABASE_URL</key>
	<string>https://fir-project-2cb3b.firebaseio.com</string>
</dict>
</plist>