<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461323034285-0tftta1hscsth2iqdrmcavqugg2pep2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461323034285-0tftta1hscsth2iqdrmcavqugg2pep2l</string>
	<key>API_KEY</key>
	<string>AIzaSyDBcia6ARIycIAC3uSsXNWg1HGcJavVdQk</string>
	<key>GCM_SENDER_ID</key>
	<string>461323034285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HarmonyRadley.FirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>fir-project-35bf4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-35bf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461323034285:ios:a3d703450babd11873b024</string>
	<key>DATABASE_URL</key>
	<string>https://fir-project-35bf4.firebaseio.com</string>
</dict>
</plist>