<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698753456602-nugq7g4pkeqb6m640lrp827okavqvcct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698753456602-nugq7g4pkeqb6m640lrp827okavqvcct</string>
	<key>API_KEY</key>
	<string>AIzaSyAd92pdmTtj_w0I-bc1qzAMsjpBVo203Uc</string>
	<key>GCM_SENDER_ID</key>
	<string>698753456602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nick.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-e1efa</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-e1efa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698753456602:ios:46a8df176056d65d89c8e3</string>
	<key>DATABASE_URL</key>
	<string>https://chat-e1efa.firebaseio.com</string>
</dict>
</plist>